.Close-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    margin-top: 0.5rem;
    margin-left: 1rem;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 8px;
    right: 16px;
}

.Close-btn:focus {
    outline:none;
}

.Close-btn-line{
    width: 30px;
    height:2px;
    background: #F5F5F5;
}