.About {
    width:100%;
    height: auto;
    margin:0 0 100px 0;
}

.Title-about {
    text-align:center;
    color: #F5F5F5;
    margin: 5rem 0 2rem 0;
}

.About-Akash {
    width: 100%;
    height: auto;
    margin: 7rem 3rem;
    padding: 5rem;
    transform: rotate(270deg);
    border-radius: 40px;
}

.Text {
    font-size: 22px;
    padding: 1rem 0 3rem 0;
    color: #F5F5F5;
    display: inline-block;
    margin: 0 25% 0 0;
}

.Title-name {
    text-align:center;
    color: #F5F5F5;
    margin-left: 25%;
    padding: 3rem 0;
}

.Contact-title {
    color: #F5F5F5;
    margin: 0 25% 0 0;
}

.Info-text {
    font-size: 22px;
    padding: 1rem 0 ;
    text-align: left;
    color: #F5F5F5;
    display: inline-block;
    margin: 0 25% 0 0;
}

.Social-wrap {
    display: flex;
    margin: 0 25% 0 0;
    width: 100%;
    list-style: none;
}

.Social-list-about a{
    padding: 1rem 0.5rem;
    font-size: 32px;
    color: #F5F5F5;
}

.Social-list-about a:hover{
    color: #9a9a9a;
    transition: 0.3s ease-in-out;
}

.btn-wrapper-wrap-about {
    text-align:center;
    margin: 6rem 0;
}


@media screen and (min-width: 700px) and (max-width: 1200px) {
    .Text, .Contact-title, .Info-text, .Social-wrap {
        margin: 0 5rem;
    }

}


@media screen and  (max-width: 700px) {

    .Text, .Contact-title, .Info-text, .Social-wrap {
        margin: 0 5rem;
    }

    .Text, .Contact-title, .Info-text {
        font-size:26px;
    }

    .About-Akash {
        height:100%;
        margin:0;
    }

}

/*@media screen and (max-width: 378px) {*/

    /*.Text, .Contact-title, .Info-text, .Social-wrap {*/
        /*margin: 0 5rem;*/
    /*}*/

    /*.About-Akash {*/
        /*height:100%;*/
        /*justify-content: center;*/
    /*}*/

/*}*/

/*
.Three {
    background: #2a2c2f;
    color: #2a2c2f;
}

.Skills {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}

.Skills-list {
    list-style: none;
    color: #F5F5F5;
}*/


