.About {
    width:100%;
    height: auto;
    margin:0 0 100px 0;
}

.Title-about {
    text-align:center;
    color: #F5F5F5;
    margin: 5rem 0 2rem 0;
}

.About-Akash {
    width: 100%;
    height: auto;
    margin: 5rem auto;
    padding: 5rem;
    transform: rotate(270deg);
    border-radius: 40px;
}

.Text {
    font-size: 22px;
    padding: 1rem 0 3rem 0;
    text-align: justify;
    color: #F5F5F5;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 25%;
}

.Head {
    top: 26em;
}

.two {
    top: 29em;
}

.Title-name {
    text-align:center;
    color: #F5F5F5;
    margin-left: 25%;
    padding: 3rem 0;
}

.Social-list-about a{
    padding: 1rem 0.5rem;
    font-size: 32px;
    color: #F5F5F5;
}

.Social-list-about a:hover{
    color: #9a9a9a;
    transition: 0.3s ease-in-out;
}

.btn-wrapper-wrap-about {
    text-align:center;
    margin: 8rem 0;
}
/*
.Three {
    background: #2a2c2f;
    color: #2a2c2f;
}

.Skills {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}

.Skills-list {
    list-style: none;
    color: #F5F5F5;
}*/


