.btn-wrapper {
    margin: 0 auto;
    text-align:center;
}

.btn-wrapper-wrap {
    margin: 5% 0 5% 0;
}

.btn{
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    background: #2a2c2f;
    border-color: #F5F5F5;
    padding: 2% 2% 2% 2%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: #F5F5F5;
}

.btn:hover{
    background-color: #F5F5F5;
    color: #2a2c2f;
}