h1 {
    padding: 0 0 10% 0;
    text-align: center;
}

.btn-wrapper {

    margin: 0 auto;
    text-align:center;
}

.btn{
    display: inline-block;
    /*padding: 30px 20px 30px 20px;*/
    /*margin: 0 auto;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
/*    -webkit-transition-duration: 0.4s; !* Safari *!
    transition-duration: 0.4s;*/
    color: #F5F5F5;
}