.Programming, .Projects{
    width:100%;
    height: auto;
    margin:0 0 120px 0;
    padding:0;
}

.Title {
    text-align:center;
    color: #F5F5F5;
    margin: 5rem 0 0 0;
}

.Sidebar-area {
    margin:auto;
    padding:0;
}

.Images {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0;
    -moz-column-count:    5;
    -moz-column-gap:      0;
    column-count:         5;
    column-gap:           0;
    margin-top:60px;
}

.Photo-Images {
    width: 100% !important;
    height: auto !important;
}

.Photo-Images:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.Image-and-sidebar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.Image-container {
    flex: 50%;
    padding: 0 4px;
}

.Image-container .Photo-Images{
    vertical-align: middle;
    padding: 0.5rem 0.5rem;
}

.Photography-wrap{
    padding-right: 0;
    padding-left: 0;
    margin:0 0 120px 0;
}

.Title-row, .Image-and-sidebar {
    margin-left: 0;
    margin-right: 0;
}

.Title-col, .Image-container {
    padding-left: 0;
    padding-right: 0;
}

.Promo-image-wrap, .Info-wrap {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 5rem;
    background: #191b1e;
}

.Image-wrap .Promo-image{
    max-width: 100%;
    max-height: 100%;
    height: auto
}


.Image-wrap .Promo-image-tall{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Info-wrap {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 2rem;
    background: #191b1e;
    color: #F5F5F5;
}

.Text-description {
    font-size: 22px;
    padding: 3rem 0;
    text-align: justify;
}

.Extra-info {
    text-align:justify;
}

.Info-wrapper {
    margin: 5rem 0;
}


