.Programming{
    width:100%;
    height: auto;
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.Title {
    text-align:center;
    color: #F5F5F5;
    margin: 5% 0 0 -5%;
}

.Sidebar-area {
    margin:auto;
    padding:0;
}

.Photo-Images {
    width: 25%;
    height:auto;
    vertical-align: middle;
}

.Photo-Images:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.Image-and-sidebar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.Image-container {
    flex: 50%;
    padding: 0 4px;
}

.Image-container .Photo-Images{
    margin-top: 8px;
    vertical-align: middle;
}

.Photography {
    padding-right: 0;
    padding-left: 0;
}

.Title-row, .Image-and-sidebar {
    margin-left: 0;
    margin-right: 0;

}

.Title-col, .Image-container {
    padding-left: 0;
    padding-right: 0;
}
