.Programming{
    width:100%;
    height: auto;
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.Title {
    text-align:center;
    color: #F5F5F5;
    margin: 5% 0 0 -5%;
}

.Sidebar-area {
    margin:auto;
    padding:0;
}

.Photo-Images {
    width: 25%;
    height:auto;
    vertical-align: middle;
}

.Photo-Images:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.Image-container {

}

.Image-wrap{

}
