.Pricing {
    width:100%;
    height: auto;
    margin:0;
    overflow: hidden;
}

.Pricing-description-wrap {
    margin: 2rem 0;
}

.Pricing-Description {
    font-size: 22px;
    text-align: justify;
    color: #F5F5F5;
    margin: 3rem 3rem;
}

.Pricing-table {
    display: table;
    margin: 3rem 2%;
    width: 100%;
}

.Price-title {
    text-align:center;
    color: #F5F5F5;
    margin: 2rem 0 5rem 0;
}

.Pricing-option{
    width:22%;
    background:#F5F5F5;
    float: left;
    padding:2%;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.Pricing-text {
    padding: 0 10px;
    line-height: 1.3;
}

.Pricing-option:nth-child(even) {
    margin: 0 2%;
}

.Pricing-option:hover{
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.04);
    color: #F5F5F5;
    background-color: #2a2c2f;
    /*border-radius: 25px;*/
    border: 2px solid #F5F5F5;
}

.Price{
    position: relative;
}

span.Price {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: 700;
    position: relative;
}

b.Price {
    position: absolute;
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 600;
}

hr {
    border:none;
    border-bottom: 1px solid #F0F0F0;
}

.Pricing-title {
    margin: 10px 0;
}

