.Sidebar-wrap {
    display: flex;
}

.Sidebar {
    height:100%;
    background:#191b1e;
    box-shadow: 1px 0 7px rgba(0,0,0,0.5);
    position:fixed;
    top: 0;
    left: 1px;
    width:70%;
    max-width: 250px;
    z-index:200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.nav-list{
    padding:0.5rem;
}

.sm-wrapper {
    /*display: flex;*/
    margin-top: 30px;
}

.Sidebar.open {
    transform: translateX(0);
}

.Sidebar .nav-list {
    height:100%;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.list {
    list-style: none;
    width:100%;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.Lower-list-wrapper {
    margin: 2rem 0;
}

.Lower-list {
    list-style: none;
    width:100%;
    color: #fff;
    padding: .5rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.Lower-list .list-anchor:hover {
    color: #9a9a9a;
    transition: 0.3s;
}

.Sidebar .list-anchor {
    color: #F5F5F5;
    text-decoration:none;
    font-size:1.75rem;
}

.Sidebar .list {
    margin:1.5rem 0;
}

.list:hover {
    background: #F5F5F5;
    transition: 0.3s;
}

.list:hover .list-anchor {
    color: #2a2c2f;
    transition: 0.3s;
}

.Social-wrapper {
    display:flex;
    padding: 1.5rem 1rem;
    justify-content:center;
    width:100%;
}
.Social-list a{
    padding: 1rem 0.5rem;
    font-size: 26px;
    color: #F5F5F5;
}

.Social-list a:hover{
    color: #9a9a9a;
    transition: 0.3s ease-in-out;
}

