.Sidebar-wrap {
    display: flex;
}

.Sidebar {
    height:100%;
    background:#2a2c2f;
    box-shadow: 1px 0 7px rgba(0,0,0,0.5);
    position:fixed;
    top: 0;
    left:0;
    width:70%;
    max-width: 400px;
    z-index:200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.Sidebar.open {
    transform: translateX(0);
}

.Sidebar .nav-list {
    height:100%;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.Sidebar .list-anchor {
    color: #F5F5F5;
    text-decoration:none;
    font-size:1.75rem;
}

.Sidebar .list-anchor:hover,
.Sidebar .list-anchor:active {

}

.Sidebar .list {
    margin:1.5rem 0;
}


.list-anchor:hover{
    color: #9b9b9b;
    transition: 0.3s;
    text-decoration: none;
}


